
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
          
        <!-- Bootstrap NavBar -->
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#">
              <img src="../../assets/ecommerce.png" width="30" height="30" class="d-inline-block align-top" alt="">
              <span class="menu-collapsed">E comm</span>
            </a>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item ">
                  <a class="nav-link" href="/home">Home </a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="/panier">Features</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin">Pricing</a>
                </li> -->
                <li class="nav-item"  *ngIf="isloged" >
                    <a class="nav-link" href="/ajout-produit"  >ajout un produit </a>
                        
                    </li>
                    <li class="nav-item"  *ngIf="isadmin" >
                        <a class="nav-link" href="/validation_admin"  >admine </a>
                            
                        </li>
                <!-- This menu is hidden in bigger devices with d-sm-none. 
                     The sidebar isn't proper for smaller screens imo, so this dropdown menu can keep all the useful sidebar itens exclusively for smaller screens  -->
                <li class="nav-item dropdown d-sm-block d-md-none">
                  <a class="nav-link dropdown-toggle" href="#" id="smallerscreenmenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Menu
                  </a>
              
                </li><!-- Smaller devices menu END -->
                
              </ul>
              
        
        
            </div>
            
            <form class="form-inline mt-2 mt-md-0" *ngIf="isloged" >
                <a class="text-white nav-link " href="/panier">
                    <img src="../../assets/shopping-cart.png" width="25" height="25" class="d-inline-block align-top" alt="">
                    
                  panier <span class="badge badge-pill badge-success ml-2"></span>
                  
                </a>  
                </form>
                <form class="form-inline mt-2 mt-md-0" *ngIf="!isloged">
                    <a class="text-white nav-link " href="/admin">
                        <img src="../../assets/icon.png" width="25" height="25" class="d-inline-block align-top" alt="">
                        
                        connexion
                      
                    </a>  
                    </form>
                    <form class="form-inline mt-2 mt-md-0" *ngIf="!isloged">
                        <a class="text-white nav-link " href="/register">
                            <img src="../../assets/icon.png" width="25" height="25" class="d-inline-block align-top" alt="">
                            
                            Inscription
                          
                        </a>  
                        </form>
                        <form class="form-inline mt-2 mt-md-0" *ngIf="isloged" >
                            <a class="text-white nav-link " href="/admin" (click)="logout()" > 
                                <img src="../../assets/icon.png" width="25" height="25" class="d-inline-block align-top" alt="">
                                
                                deconnexion
                              
                            </a>  
                            </form>
          </nav><!-- NavBar END -->


          
         
