
<app-navbar> </app-navbar>
<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>

<h1> Votre panier </h1>

<ng-container>

 <h2 *ngIf="nombreProd >=1" > vous avez {{nombreProd}} produit </h2>
 <h2 *ngIf="nombreProd <=0" > Votre panier est vide pour le moment.  </h2>

  
 <div class="uk-padding ">
  <table class="table">
      
    <thead>

      <tr>
          <th>img pro</th>
          <th>nom produit</th>
          <th>prix</th>
      </tr>
    </thead>
    <tbody>
      
      <tr *ngFor="let item of itemArra"     >
        <td><img src="{{item.urlimg}}" width="100" height="100" > </td>
        <td>{{item.marquepro}}</td>
        <td>{{item.prixpro}}</td>  
      </tr>
     
    </tbody>
<div *ngIf="nombreProd >=1">
    total : <input  type="text" [value]="paniertotal" name="paniertotal"  [(ngModel)]="paniertotal"> 
    
    <button  *ngIf="nombreProd >=1" class="botton" (click)="getitem()" >confirmer la commande</button>
</div>
  </table>
  
 
  
 </div>

</ng-container>
