
<app-navbar></app-navbar>


<router-outlet></router-outlet>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/css/uikit.min.css" />

<!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.1.5/js/uikit-icons.min.js"></script>






<div class="uk-padding ">
<table class="uk-table uk-table-hover uk-table-divider">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Email</th>
            <th>Addres / Région / Ville </th>
            <th>prix</th>
            <th>l'etat du commande</th>
            <th>valide</th>
            <th>supprimer</th>
            

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of itemArra" >
            <td>{{item.nom}}</td>
            <td>{{item.prenom}}</td>
            <td>{{item.email}}</td>
            <td>{{item.Adresse}}/{{item.region}}/{{item.Ville}}</td>
            <td>{{item.PrixTotal}} DH</td>
            <td>{{item.etat}}</td>
            <td>    <button class="uk-button uk-button-default" (click)="valid(item.$key,item.nom,item.prenom,item.email,item.Adresse,item.region,item.Ville,item.PrixTotal)" >valide</button></td>
            <td><button class="uk-button uk-button-danger" (click)="supri(item.$key)">supprimer</button></td>

        </tr>
    </tbody>
</table>
</div>
