
<app-navbar></app-navbar>



<form >

        <div class="container" >
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required  [(ngModel)]="email" >
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required [(ngModel)]="mdp">
          <script> consol.log("hello")</script>
          <button type="button" (click)="login()">  Login</button>
          
          
          <label>
            <input type="checkbox" checked="checked" name="remember" > Remember me
          </label>
         
        </div>
      
        <div class="container" style="background-color:#f1f1f1">
          <button type="submit" class="cancelbtn" (click)="retourhome()">Cancel</button>
          <span class="psw">Forgot <a href="">password?</a></span>
        </div>
      
      </form>