

<script js>

</script>


<app-navbar></app-navbar>

<br>
<h2>Inscription</h2>
<br>

<form >

    <div class="container" >
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="uname"><b>Nom</b></label>
                <input type="text" class="form-control"  placeholder="Nom" name="nomProduit"  >
              </div>
              <div class="form-group col-md-6">
                
                  <label for="uname"><b>Prenom</b></label>
                <input type="text" class="form-control"  placeholder="Prenom" name="nomProduit"  >
              </div>
        </div>

      <label for="uname"><b>email</b></label>
      <input type="text" placeholder="Email" name="uname" required  [(ngModel)]="email" >
  
      <div class="form-group">
        <label for="password"><strong>Password</strong></label>
        <input type="password" class="form-control" id="password" [(ngModel)]="signup.password" [(ngModel)]="mdp" name="password" (blur)="confirmPassword()" required placeholder="Password" #pswd="ngModel"/>
      </div>
      <div [hidden]="pswd.valid || pswd.pristine" class="alert alert-danger">Password is required</div>
      <div class="form-group">
        <label for="cnfpassword"><strong>Confirm password</strong></label>
        <input type="password" class="form-control" id="cnfpassword" [(ngModel)]="passwordConfirmationTxt" required (blur)="confirmPassword()" name="passwordConfirmationTxt"/>
      </div>
       
       
      <div [hidden]="!passwordConfirmationFailed" class="alert alert-danger">Password did not match</div>
      
      <button type="button"  class="pure-button pure-button-primary" (click)="register()" >  register</button>
      
    </div>
</form>




